@media (max-width: 1200px)
{
    .bgImage{
        display: none;
    }
    .container{
        width: 90%;
        padding: 24px 0 0;
        margin: 0 auto;    
    }

    .header-content__nav{
        display: none;
    }
    .main-content h1{
        font-size: 1.95em;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: -1px;

        color: #606F7A;
    }
    .main-content__span{
        display: none;
    }
    .main-content__box form{
        display: grid;
        grid-template-rows: 35% 35%;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        position: relative;
    }
    .main-content__message{
        display: none;
    }
    .main-content__item input{
        text-align: left;
        height: 49px;
        width: 100%;
    }
    .main-content__item select{
        text-align: left;
        height: 49px;
        width: 100%;
    }
    .item2 ::before{
        display: none;
    }
    .item3 ::before{
        display: none;
    }
    .main-content__item_disabled ::before{
        display: none;
    }
    .main-content__submit{
        display: none;
    }

    .main-content__submit-mobile{
        display: block;
        padding: 24px 0 0;
    }
    .main-content__submit-mobile input{
        position: relative;
        height: 55px;
        width: 207%;
        
    }
    .main-content__submit-mobile input:active{

        opacity: 0.3;
        transition: 0.3s ease;
    }
    
}