body{
    background: /* url('../img/footer1.png')bottom center no-repeat fixed,
                url('../img/footer2.png')bottom right no-repeat fixed, */
                #EFF3F9;
                
    color: #606F7A;
    
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 900;            
    /* min-width: 1246px; */
}


*,:after,:before{
    box-sizing: border-box;
}

.container{
    /* position: absolute; */
    width: 100%;
    
    /* max-width: 1440px; */
    /* height: 900px; */
    padding: 50px 97px 0px;
    margin: 0 auto;
    
    
}

/* @media (max-width: 1200px) {
    .container{
       max-width: 970px;
       padding: 24px 20px 0px;
       margin: 0;
       
    } 
    
} */





                    /* Header */

.header-content{
    display: flex;
    justify-content: space-between;
}

.header__logo-img{
    width: 100%;
    height: 90%;
}

.header-content-contact{
    
    width: 132px;
    height: 45px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(46, 80, 87, 0.12);
    border-radius: 3px;
}

.header-content-contact-ref{
    position: relative;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Open Sans';
    bottom: 6px;

    text-align: center;
}

.header-content-contact-ref a{
    text-decoration: none;
    color: #606F7A;
}

                    /* Main */
.main{
    margin-top: 90px;
}

.main__box-head{
    position: relative;
}
.main-head{
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: normal;
    line-height: 64px;

    color: #606F7A;
}


.main-calcPrice{
    /* position: relative; */
    width: 100%;
    max-width: 750px;
}


.main-calcPrice-itemName{
    display: flex;
    justify-content: space-between;
    position: absolute;

    width: 430px;
    height: 100px;

    top: 450px;
}

.item{
    font-family: 'Roboto';
    position: relative;
   
    font-size: 17px;
    font-weight: 500;
    color: #B7B7B7;
}

.item_1{
    left: 10px;
}

.item_2{
    left: 15px;
}

.item_3{
    left: 60px;
}

.item_4{
    right: -25px;
}

.main-calcPrice-item{
    display: flex;
    position: relative;
    
    justify-content: space-between;
    align-items: center;

    width: 550px;
    height: 80px;
    margin-top: 90px;

    background:#FFFFFF ;
    border-radius: 3px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
}

.main-item1{
    width: 65px;
    height: 37px;
}

.main-item2{
    width: 5px;
}

.main-item4{
    position: absolute;

    font-weight: 500;

    right: 30px;
    opacity: 0.4;
}

.main-item1__button{
    position: absolute;
    text-align: center;
    
    outline: none;

    width: 128px;
    height: 79px;

    border: 0;
    bottom: 0px;
}

.main-item2__choice{
    position: absolute;
    color: #606F7A;
    
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    
    width: 125px;
    height: 79px;
    left: 150px;
    text-align: left;

    outline: none;
    border: 0;
    bottom: 0px;
   
}

.main-item3__choice{
    position: absolute;
    text-align: center;
    text-align: left;

    color: #606F7A;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    
    outline: none;

    width: 70px;
    height: 79px;

    border: 0;
    bottom: 0px;
    right: 160px;
}

.main-item5__submit{
    position: relative;

    width: 163px;
    height: 79px;
    left: 175px;

    background: #5DAAFF;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0px 4px 40px rgba(93, 170, 255, 0.29);
    border-radius: 3px;
    border: 0;
}

.main-item5__submit:active{
    opacity: 0.9;
    width: 160px;
    height: 75px;

    transition: 0.1s linear;
}

.line{
    position: absolute;
    width: 0px;
    height: 47px;
    left: 232px;
    top: 462px;

    border: 1px solid #DEDEDE;
}

.line1{
    top: 7px;
    left: 140px;
}

.line2{
    top: 7px;
    left: 300px;
}

.line3{
    top: 7px;
    right: -40px;
}

.main-item5__submit-arrow{

    position: absolute;
    width: 23px;
    height: 2px;

    background: #FFFFFF;

    right: -150px;
    top: 50%;
}

.main-item5__submit-more{
    position: absolute;

    width: 5px;
    height: 5px;

    right: -151.5px;
    top: 48%;
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-top: 2px solid white;
}

.main__message{
    display: block;
    text-align: center;

    width: 329px;
    height: 55px;

    background: white;

    margin-top: 25px;

    border-radius: 3px;
    box-shadow: 0px 4px 40px  rgba(46, 80, 87, 0.12);
}

.main__message-text{
    position: relative;

    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;

    color: #5DAAFF;

    top: 30%;
}

.main__message-text:after{
    display: block;
    content: "";
    position: absolute;

    width: 0px;
    height: 20px;
    right: 19.5px;
    top: 0;
    
    border:1px solid #5DAAFF;
    background: #5DAAFF;
}

.main__message-text:before{
    display: block;
    content: "";
    position: absolute;

    width: 5px;
    height: 5px;

    right: 16.7px;
    top: 0;
    transform: rotate(-45deg);

    border-right: 2px solid #5DAAFF;
    border-top: 2px solid #5DAAFF;
}

.main__bottom-imgs {
    display: flex;
    justify-content: flex-end;
    
    position: absolute;

    right: 0;
    bottom: 0;
}


.img1{
    position: relative;
    
    right: 1000px;
}


.img2{
    bottom: 0;
    right: 0;
}

                /* Footer */
.footer{
    bottom: 0;
}

@media screen and (max-width: 1350px){
    .main__bottom-imgs{
        max-width: 200%;
    }
    .main__bottom-imgs .img1{
        right: 200%;
    }
}


@media screen and (min-width: 375px) and (max-width: 1199px) and (min-height: 657px){
    
    .container{
       min-width: 334px; 
       max-width: 1000px;
       padding: 24px 20px 0px;
    }
    .main__bottom-imgs .img2{
         display: none;
    }
    .main__bottom-imgs .img1{
        display: none;
   }
   .header-content-contact{
       display: none;
   }
   .header__logo-img{
       min-width: 100%;
       min-height: 40px;
   }
   .main{
       margin-top: 20px;
   }
   .main-calcPrice{
    display: flex;
    position: absolute;
    
    justify-content: space-between;
    align-items: center;

    width: 0px;
    height: 0px;
    margin-top: 90px;

    background:#FFFFFF ;
    border-radius: 3px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
   }
   .main__message{
       display: none;
   }
   .main__box-head{
       
       min-width: 100%;
       font-size: 31px;
       font-weight: 300;
   }
}

